/* WeatherDisplay css */

body{
  cursor: auto;
  font-family:Poppins, sans-serif;
  min-height:721.6px;
  background: linear-gradient(rgb(219, 247, 247) 0%, rgb(56, 200, 230) 100%);
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.container-meteo {
  max-width: 960px;
  width: 100%;
  margin: auto 0px;
  padding: 0px 16px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.header-meteo {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 128px;
}

.h1-meteo {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: rgb(47, 93, 138);
  font-size: 35.2px;
}

.content-meteo {
  margin: 0px 0px 22.4px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  position: relative;
  height: 52px;
  border-radius: 26px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  margin-bottom: 22.4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease 0.5s;
}

.content-meteo:focus-visible{
  box-shadow: rgb(47, 93, 138) 0px 7px 29px 0px;
  transition: box-shadow 0.3s ease-in-out;
}

.input-meteo {
  margin: 0px 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  flex: 1 1 0%;
  margin-left: 30px;
  height: 52px;
  border: 0px none rgb(114, 126, 142);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  color: rgb(114, 126, 142);
  width: 100%;
  outline: none;
}

.btn-meteo{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  border: 0px none rgb(0, 0, 0);
  cursor: pointer,;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  display: contents;
}

.icon-search {
  margin: 0px 19.2px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-right: 19.2px;
  color: rgb(74, 111, 161);
}

.desc-meteo{
  background-color: aliceblue;
  border-radius: 10px;
}

.city {
  color: rgb(47, 93, 138);
  font-size: x-large;
  font-weight: 700;
}

.color-cloud {
  color: #7b98b2;
}

.color-sky {
  color: #669fef;
}

.x-large{
  font-size: x-large;
}

.big {
  font-size: 5rem;
}